USE [master]
GO
/****** Object:  Database [testc1402]    Script Date: 14/02/2022 15:37:37 ******/
CREATE DATABASE [testc1402]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testc1402', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\testc1402.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testc1402_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\testc1402_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testc1402].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testc1402]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/02/2022 15:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoursPersonne]    Script Date: 14/02/2022 15:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursPersonne](
	[LesCoursId] [int] NOT NULL,
	[LesPersonnesId] [int] NOT NULL,
 CONSTRAINT [PK_CoursPersonne] PRIMARY KEY CLUSTERED 
(
	[LesCoursId] ASC,
	[LesPersonnesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LesCours]    Script Date: 14/02/2022 15:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LesCours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_LesCours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LesPersonnes]    Script Date: 14/02/2022 15:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LesPersonnes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](max) NULL,
	[Prenom] [nvarchar](max) NULL,
	[datedenaissance] [nvarchar](max) NULL,
 CONSTRAINT [PK_LesPersonnes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CoursPersonne_LesPersonnesId]    Script Date: 14/02/2022 15:37:37 ******/
CREATE NONCLUSTERED INDEX [IX_CoursPersonne_LesPersonnesId] ON [dbo].[CoursPersonne]
(
	[LesPersonnesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoursPersonne]  WITH CHECK ADD  CONSTRAINT [FK_CoursPersonne_LesCours_LesCoursId] FOREIGN KEY([LesCoursId])
REFERENCES [dbo].[LesCours] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CoursPersonne] CHECK CONSTRAINT [FK_CoursPersonne_LesCours_LesCoursId]
GO
ALTER TABLE [dbo].[CoursPersonne]  WITH CHECK ADD  CONSTRAINT [FK_CoursPersonne_LesPersonnes_LesPersonnesId] FOREIGN KEY([LesPersonnesId])
REFERENCES [dbo].[LesPersonnes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CoursPersonne] CHECK CONSTRAINT [FK_CoursPersonne_LesPersonnes_LesPersonnesId]
GO
USE [master]
GO
